# Data
data/noaa/raw_data
data/noaa/pulled_data/
data/noaa/.DS_Store
data/bco_dmo/raw_data

/env
.env

*.pyc
__pycache__/

src/models/coral_bleaching_predictor.pkl
src/models/scaler.pkl

coral_bleach_predictor.egg-info